.roomContainer{
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
}
.youtube-container{
    width: 70%;
}

.iframe-container{
    position: relative;
    overflow: hidden;
    padding-top:  46.25%;
    margin: auto;
}

iframe{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 90%;
}


.chat-container{
    width: 30%;
    padding: 1rem;
}

.chat-field{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    height: 70%;
    overflow: hidden;
    position: relative;
}

.text-field{
    width: 100%;
    height: 90%;
}

.input-field{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.member-field{
    background-color: rgb(53, 53, 53);
    padding: 1rem;
    overflow-x: scroll;
}

.member{
    border:1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 4px;
    margin-inline: 5px;
}


@media ( max-width:1200px) {
    .roomContainer{
        padding-top: 4rem;
        height: 100%;
        flex-direction: column;
    }
    .youtube-container{
        width: 100%;
    }
    .chat-container{
        margin-top: 2rem;
        width: 80%;
        height: 50vh;
        margin-inline: auto;
    }
    .text-field{
        height: 50%;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
}